<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quick Drive</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
    <link rel="stylesheet" href="../style/popup.css">
    <script src="../script/all.min.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
  </head>

  <body ng-app="QuickDrive" ng-csp="">
    <div class="container" ng-controller="PopupCtrl">
      <h1>
        <form class="form-inline">
          <small><a class="none" href="https://drive.google.com/drive/my-drive" target="_blank" tabindex="-1">{{title}}</a></small>
          <!-- 検索BOX -->
          <div class="form-group" id="searchForm">
            <label class="sr-only" for="searchBox">Search Box</label>
            <input type="text" class="form-control" id="searchBox" placeholder="{{search_text}}" ng-model="searchText" ng-keydown="kickSearchItems($event)">
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-danger" ng-click="searchItems()">{{search}}</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="clearSearchBox()">{{clear}}</a></li>
            </ul>
          </div>
          <!-- 認証リセットボタン -->
          <button type="button" class="btn btn-primary" id="resetAuthBtn" ng-class="{ disabled: isDisabledToResetAuth() }" ng-click="resetAuthToken()">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> {{reset}}
          </button>
        </form>
      </h1>

      <!-- メニュー -->
      <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{ active: isActiveTab(TYPE_FAVORITE) }"><a ng-click="listItems(TYPE_FAVORITE)">{{favorite}}</a></li>
        <li role="presentation" ng-class="{ active: isActiveTab(TYPE_RECENT) }"><a ng-click="listItems(TYPE_RECENT)">{{recent}}</a></li>
        <li role="presentation" ng-class="{ active: isActiveTab(TYPE_SEARCH) }"><a ng-click="listItems(TYPE_SEARCH)">{{search_result}}</a></li>
      </ul>
 
      <!-- アイテムリスト -->
      <div class="row thumbnail" ng-repeat="item in items">
        <div class="col-xs-1">
          <a href="{{item.mimeType != 'application/vnd.google-apps.folder' ? item.webViewLink : 'https://drive.google.com/drive/#folders/' + item.id}}" target="_blank"><img class="icon" src="{{item.iconLink}}" alt="{{item.name}}" width="32" height="32"></a>
        </div>
        <div class="col-xs-11">
          <h5><a href="{{item.mimeType != 'application/vnd.google-apps.folder' ? item.webViewLink : 'https://drive.google.com/drive/#folders/' + item.id}}" target="_blank">{{item.name}}</a></h5>
          <p>{{lastViewedAt}}: {{item.viewedByMeTime | date: dateFormat}}</p>
        </div>
      </div>
 
    </div>
  </body>
</html>
