@mixin pagesize() {
   height: 800px;
   width: 800px;
}

body {
   @include pagesize();
}

#searchForm {
   margin-left: 20px;
   margin-right: 10px;
}

#resetAuthBtn {
   margin-left: 10px;
}

img.icon {
   margin: 20px;
}

.thumbnail {
   margin-bottom: 0px;
}
